/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu
@import '../css/common.css';
@import '../css/header.css';
@import '../css/search.css';
@import '../css/movies.css';
@import '../css/pagination.css';
@import '../css/footer.css';
@import '../css/modal-movie.css';
@import '../css/modal-goit-team.css';
@import '../css/modal-registration.css';
