@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  scroll-behavior: smooth;
}

button, input {
  appearance: none;
  border: none;
  outline: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (width >= 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (width >= 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media screen and (width >= 1720px) {
  .container {
    max-width: 1720px;
  }
}

@media screen and (width >= 2280px) {
  .container {
    max-width: 2280px;
  }
}

@media screen and (width >= 2560px) {
  .container {
    max-width: 2560px;
  }
}

@media screen and (width >= 3000px) {
  .container {
    max-width: 3000px;
  }
}

.header {
  background-color: #000;
  background-position: center;
  background-size: 100%;
  border: .01px solid #0000;
  height: 230px;
  display: block;
}

.header-logo {
  align-items: center;
  gap: 10px;
  padding: 0;
  text-decoration: none;
  display: flex;
}

.header svg {
  width: 24px;
  height: 24px;
  margin: 0;
}

.header h2 {
  opacity: 0;
  color: #fff;
  margin: 0;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
}

.header-navibox {
  justify-content: space-between;
  align-items: center;
  margin: 40px 20px;
  display: flex;
}

.header-navi {
  align-items: center;
  gap: 39px;
  padding: 0;
  display: flex;
}

.header-navi a {
  color: #fff;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}

.header-navi a.active {
  text-decoration: underline 2.5px #ff001b;
}

.header-search {
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 0;
  padding: 0;
  display: flex;
}

.search-form {
  border-bottom: .5px solid #fff;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 20px;
  display: flex;
}

.search-form input {
  size: 100%;
  color: #fff;
  background-color: #0000;
  border: none;
  width: 380px;
  margin: 0;
}

.search-form input::placeholder {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}

.search-form input:focus-within {
  size: 100%;
  color: #fff;
  background-color: #0000;
  outline: #0000;
  flex-grow: 1;
  width: 380px;
  margin: 0;
}

.search-button {
  background-color: #0000;
  border: none;
  width: 14px;
  max-width: 18px;
  padding: 0;
}

.search-form svg {
  width: 12px;
  height: 12px;
}

.header-not-result {
  color: #ff001b;
  width: 280px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
}

.header-library {
  justify-content: center;
  gap: 20px;
  display: flex;
}

.library-button {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: none;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 130px;
  height: 44px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
}

.library-button:focus, .library-button:hover {
  background: #ff6b01;
  border: none;
  box-shadow: 0 8px 43px #ff6b0199;
}

@media screen and (width <= 767px) {
  .header h2 {
    display: none;
  }
}

@media screen and (width >= 768px) {
  .header-navibox {
    margin: 40px 32px;
  }

  .header h2 {
    opacity: 1;
  }

  .header-navi {
    gap: 40px;
  }

  .search-form {
    width: 336px;
  }

  .header-not-result {
    width: 393px;
  }

  .header-library {
    gap: 32px;
  }

  .header-search {
    gap: 20px;
  }

  .library-button {
    width: 152px;
  }
}

@media screen and (width >= 1280px) {
  .search-form {
    width: 394px;
  }

  .header-library {
    gap: 18px;
  }

  .library-button {
    width: 147px;
    height: 42px;
  }
}

p {
  margin: 0;
}

[data-mode="light"] {
  --movieDetails-color: #000;
  --bg-color: #fff;
  --pagination-bg: #ddd;
  --body-bg: #fff;
  --footer-bg: #f7f7f7;
  --footer-text: #545454;
  --details-contrast: #ff6b08;
  --vote-color: #8c8c8c;
}

[data-mode="dark"] {
  --movieDetails-color: #fff;
  --bg-color: #000;
  --pagination-bg: #353030;
  --body-bg: #532e2e;
  --footer-bg: #8b8b8b;
  --footer-text: #fff;
  --details-contrast: #ff6b08;
  --vote-color: #8c8c8c;
}

body, .movies {
  background-color: var(--bg-color);
}

#gallery-container {
  background-color: var(--bg-color);
  flex-direction: column;
  grid-template-columns: 1fr;
  align-items: center;
  margin: auto;
  padding-top: 20px;
  display: flex;
}

.movie-details {
  color: var(--movieDetails-color);
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3;
}

.movie-card:hover, .movie-card:focus {
  cursor: pointer;
}

.movie-title {
  text-transform: uppercase;
  --movieDetails-color: #000;
  font-family: Roboto, sans-serif;
}

.movie-title:hover, .movie-title:focus {
  transform: scale(1)translateX(1%);
}

.movie-info {
  color: var(--details-contrast);
  font-family: Roboto, sans-serif;
}

.movie-poster {
  border-radius: 5px;
  justify-content: center;
  width: 280px;
  height: 100%;
  transition: transform .3s;
  display: flex;
}

.movie-poster:focus, .movie-poster:hover {
  border: thick double #ff001b;
  padding: 6px;
  transform: scale(1.03);
}

@media (width >= 768px) {
  #gallery-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-top: 59px;
    display: grid;
  }

  .movie-details {
    margin-top: 8px;
    margin-bottom: 32px;
  }

  .movie-poster {
    border-radius: 5px;
    justify-content: center;
    width: 336px;
    height: 100%;
    display: flex;
  }
}

@media (width >= 1280px) {
  #gallery-container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1280px;
    padding-top: 60px;
    display: grid;
  }

  .movie-poster {
    width: 395px;
    height: 574px;
  }

  .movie-details {
    width: 395px;
    margin-top: 12px;
    font-size: 20px;
    line-height: 1.2;
  }
}

@media (width >= 1600px) {
  #gallery-container.monitor-wide {
    background-color: var(--bg-color);
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 30px;
    max-width: 1919px;
    padding-top: 20px;
  }
}

@media (width >= 1920px) {
  #gallery-container.monitor-wide {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 2559px;
  }
}

@media (width >= 2560px) {
  #gallery-container.monitor-wide {
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    max-width: 2999px;
  }
}

@media (width >= 3000px) {
  #gallery-container .monitor-wide {
    grid-template-columns: repeat(6, 1fr);
    gap: 50px;
  }
}

#scrollToTopButton {
  color: #fff;
  cursor: pointer;
  visibility: hidden;
  z-index: 999;
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: .9em;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#scrollToTopButton:hover {
  background-color: #0056b3;
}

.pagination {
  flex-shrink: 0, 5;
  color: var(--movieDetails-color);
  border: none;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  padding: 8px 16px;
  display: flex;
}

.pagination a {
  color: var(--movieDetails-color);
  float: left;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagin-btn:focus, .pagin-btn:hover {
  background-color: var(--pagination-bg);
}

.pagination-arrow {
  color: var(--movieDetails-color);
}

.pagin-btn {
  color: var(--movieDetails-color);
  float: left;
  flex-shrink: 0, 5;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: auto 0;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  display: flex;
}

.current-page {
  color: var(--movieDetails-color);
  background-color: #ff6c28;
}

.hidden {
  display: none;
}

.dots {
  color: var(--movieDetails-color);
  float: left;
  flex-shrink: 0, 5;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: auto 0;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  display: flex;
}

.footer {
  background-color: var(--footer-bg);
  height: 100px;
}

.footer-container {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.footer-wrapper {
  color: var(--footer-text);
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  font-size: 14px;
  display: flex;
}

.footer-text {
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-btn {
  color: var(--footer-text);
  cursor: pointer;
  background: none;
  border: none;
  text-decoration: underline;
  display: inline;
}

@media screen and (width >= 768px) {
  .footer {
    height: 79px;
  }

  .footer-wrapper {
    flex-direction: row;
    column-gap: 10px;
    font-size: 16px;
    line-height: 1.19;
  }
}

.modal {
  z-index: 1;
  background-color: #00000080;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  max-width: 320px;
  margin: auto;
  padding: 8px 20px 40px;
  font-family: Roboto, sans-serif;
}

.modal-movie-info {
  margin-top: 20px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 54px;
  font-weight: 100;
}

.close:hover, .close:focus {
  color: #000;
  cursor: pointer;
  text-decoration: none;
  scale: 1.2;
}

.dev-tools-container {
  align-items: center;
  display: flex;
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.dev-main-button {
  color: #fff;
  cursor: pointer;
  background-color: #0000;
  border: none;
  border-radius: 100%;
  padding: 0;
  font-size: 40px;
  transition: all .3s;
}

.dev-moving-button:hover {
  opacity: 0;
  margin-left: 10px;
  font-size: 20px;
  transition: opacity .3s;
}

.dev-button-bar {
  opacity: 0;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  transition: opacity .3s;
  display: none;
}

.dev-button {
  color: #fff;
  cursor: pointer;
  background-color: #f2f7fb;
  border: none;
  border-radius: 20px;
  margin-right: 5px;
  padding: 10px;
  transition: background-color .3s;
}

.dev-button:hover {
  background-color: #2980b9;
}

.movieData.title {
  text-transform: uppercase;
  color: var(--movieDetails-color);
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

.info-item {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.average-vote {
  background-color: var(--details-contrast);
  color: var(--bg-color);
  border-radius: 5px;
  padding: 1px 8px;
}

.count-vote {
  background-color: var(--footer-bg);
  color: var(--movieDetails-color);
  border-radius: 5px;
  margin-left: 8px;
  padding: 1px 8px;
}

.pernament-item {
  color: var(--vote-color);
  flex-direction: column;
  gap: 20px;
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3;
  display: flex;
}

.variables-item {
  color: var(--footer-bg);
  flex-direction: column;
  gap: 20px;
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3;
  display: flex;
}

.original-title {
  text-transform: uppercase;
}

.about-movie {
  color: var(--movieDetails-color);
  width: 240px;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.7;
}

.modal-buttons {
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.modal-buttons button {
  gap: 20px;
}

.watchedButton {
  background-color: var(--details-contrast);
  cursor: pointer;
  color: var(--bg-color);
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 5px;
  width: 110px;
  height: 44px;
  margin-right: 20px;
  padding: 6px 27px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3;
  transition: transform .3s;
}

.queuedButton {
  background-color: var(--bg-color);
  cursor: pointer;
  color: var(--movieDetails-color);
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
  width: 110px;
  height: 44px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3;
  transition: transform .3s;
}

.watchedButton:hover, .watchedButton:focus, .queuedButton:hover, .queuedButton:focus {
  transform: scale(1.1);
}

.about-movie-details {
  text-transform: uppercase;
}

@media screen and (width >= 768px) {
  .modal-content {
    max-width: 704px;
    height: 552px;
  }

  .modal-container {
    display: flex;
  }

  .movie-poster-modal {
    margin-right: 68px;
  }
}

@media (width >= 1280px) {
  .modal-content {
    max-width: 806px;
    height: 558px;
  }

  .movieData.title {
    font-size: 30px;
  }
}

.modal-team-goit {
  z-index: 1;
  border: 50%;
  background-color: #0006;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}

.modal-content-goit {
  background-color: #000;
  border: 1px solid #888;
  width: 80%;
  height: auto;
  margin: 15% auto;
  padding: 20px;
}

.close-modal-btn-goit {
  color: #fff;
  float: right;
  margin-right: 20px;
  font-size: 38px;
  font-weight: bold;
}

.close-modal-btn-goit:hover, .close-modal-btn-goit:focus {
  color: #676464;
  cursor: pointer;
  text-decoration: none;
}

.footer-btn {
  cursor: pointer;
}

.footer-btn:hover {
  opacity: 1;
}

.modal-team-list-goit {
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
  list-style: none;
  display: flex;
}

.modal-team-img-goit {
  justify-content: space-around;
  width: 150px;
  height: 150px;
  margin: auto;
  display: flex;
}

.modal-team-header-goit {
  text-align: center;
}

.modal-team-text-goit {
  color: #fff;
  text-align: center;
}

.sign-in-container {
  z-index: 1000;
  background-color: #000;
  border-radius: 2cqb;
  width: 500px;
  height: auto;
  margin-top: 5px;
  padding: 20px;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: 0 4px 8px #0000001a;
}

#login-status {
  color: #fff;
}

#form-content-inner-container {
  text-align: center;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

input[type="email"], input[type="password"] {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

label {
  text-align: left;
  margin-bottom: 5px;
  display: block;
}

#button-container {
  justify-content: space-between;
  display: flex;
}

button {
  color: #fff;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  width: calc(33.33% - 5px);
  padding: 10px;
  transition: background-color .3s;
}

button:hover {
  background-color: #0056b3;
}

#logout-button {
  background-color: #dc3545;
}

#logout-button:hover {
  background-color: #bd2130;
  display: none;
}

#login-status {
  text-align: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.close-modal-reg {
  color: #fff;
  float: right;
  font-size: 38px;
  font-weight: bold;
}

.close-modal-reg, .close-modal-reg {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
/*# sourceMappingURL=index.6a3f4cf1.css.map */
