<div id="footerModal" class="footer-modal-container">
<div class="footer-modal-warpper">
    <div class="footer-modal-scroll">
        <h1 class="h1-footer-modal">Filmoteka</h1>
        <h2 class="h2-footer-modal">Maked By</h2>
        <h3 class="h3-footer-modal">Team name</h3>
        <div>
            <li>
            <img src="/src/img/Anonimowe.jpg">
            <h4 class="h4-footer-modal">Krzysztof B</h4>
            <p class="P-footer-modal">TeamLeader</p>
            </li>

            <li>
            <img src="/src/img/Anonimowe.jpg">
            <h4 class="h4-footer-modal">Marek Lempart</h4>
            <p class="P-footer-modal">ScruMaster</p>
            </li>

            <li>
            <img src="/src/img/Anonimowe.jpg">
            <h4 class="h4-footer-modal">Agnieszka CH</h4>
            <p class="P-footer-modal">Developer/Designer</p>
            </li>

            <li>
            <img src="/src/img/Anonimowe.jpg">
            <h4 class="h4-footer-modal">Agnieszka W</h4>
            <p class="P-footer-modal">Developer/Designer</p>
            </li>

            <li>
            <img src="/src/img/Anonimowe.jpg">
            <h4 class="h4-footer-modal">Aleksander W</h4>
            <p class="P-footer-modal">Developer/Designer</p>
            </li>

            <li>
            <img src="/src/img/Anonimowe.jpg">
            <h4 class="h4-footer-modal">Adrian F</h4>
            <p class="P-footer-modal">Developer/Designer</p>
            </li>

            <li>
            <img src="/src/img/Anonimowe.jpg">
            <h4 class="h4-footer-modal">Anita P</h4>
            <p class="P-footer-modal">Developer/Designer</p>
            </li>

            <li>
            <img src="/src/img/Anonimowe.jpg">
            <h4 class="h4-footer-modal">Gosia K</h4>
            <p class="P-footer-modal">Developer/Designer</p>
            </li>

            <li>
            <img src="/src/img/Anonimowe.jpg">
            <h4 class="h4-footer-modal">Marcin M</h4>
            <p class="P-footer-modal">Developer/Designer</p>
            </li>

 <button class="footer-close-modal-button" id="footer-close-modal">&times;</button>
</div>
 </div>
</div>