<div id="myModal" class="modal">
<div class="footer-modal-warpper">
    <div class="footer-modal-scroll">
        <h1>Filmoteka</h1>
        <h2 class="">Maked By</h2>
        <h3>Team name</h3>
        <div>
            <li>
            <img src="/src/img/Anonimowe.jpg">
            <h4>Krzysztof B</h4>
            <p>TeamLeader</p>
            </li>

            <li>
            <img src="/src/img/Anonimowe.jpg">
            <h4>Marek Lempart</h4>
            <p>ScruMaster</p>
            </li>

            <li>
            <img src="/src/img/Anonimowe.jpg">
            <h4>Agnieszka CH</h4>
            <p>Developer/Designer</p>
            </li>

            <li>
            <img src="/src/img/Anonimowe.jpg">
            <h4>Agnieszka W</h4>
            <p>Developer/Designer</p>
            </li>

            <li>
            <img src="/src/img/Anonimowe.jpg">
            <h4>Aleksander W</h4>
            <p>Developer/Designer</p>
            </li>

            <li>
            <img src="/src/img/Anonimowe.jpg">
            <h4>Adrian F</h4>
            <p>Developer/Designer</p>
            </li>

            <li>
            <img src="/src/img/Anonimowe.jpg">
            <h4>Anita P</h4>
            <p>Developer/Designer</p>
            </li>

            <li>
            <img src="/src/img/Anonimowe.jpg">
            <h4>Gosia K</h4>
            <p>Developer/Designer</p>
            </li>

            <li>
            <img src="/src/img/Anonimowe.jpg">
            <h4>Marcin M</h4>
            <p>Developer/Designer</p>
            </li>

            
            <button onclick="closeModal()">Zamknij modal</button>

</div>
 </div>
</div>