<header id="headerBG" class="header">
  <div class="container header-container">
    <!-- kontener na logo i menu -->
    <div class="header-navibox">
      <a href="./index.html" class="header-logo" id="logo">
        <svg>
          <use href="./img/icons.svg#icon-film"></use>
        </svg>
        <h2 id="logo">Filmoteka</h2>
      </a>
      <div class="header-navi">
        <a href="./index.html">Home</a>
        <a href="./index.html">My Library</a><a href="./index.html">Sign In</a>
      </div>
    </div><!-- kontener wyświetlany, gdy wybrana jest strona główna z formularzem wyszukiwania -->
    <div class="header-search">
      <form class="search-form" id="search-form">
        <input type="text" name="searchQuery" autocomplete="off" placeholder="Movie search" />
        <button class="search-button" type="submit">
          <svg>
            <use href="./img/icons.svg#icon-search-2"></use>
          </svg>
        </button>
      </form>
      <!-- komunikat wyświetlany, gdy brak rezultatów wyszukiwania -->
      <p id="not-result" class="header-not-result">
        Search result not successful. Enter the correct movie name and
      </p>
    </div>
    <!-- kontener wyświetlany, gdy wybrana jest my library -->
    <div class="header-library">
      <button class="library-button" id="watchedHeader" type="submit">Watched</button>
      <button class="library-button" id="queueHeader" type="submit">Queue</button>
    </div>
  </div>
</header>
