
<div class="dev-tools-container">
    <button class="dev-main-button" id="dev-mainButton">D</button>
    <div class="dev-button-bar">
        <button class="dev-button" id="changeMode">🌗</button>
        <button class="dev-button" id="scroolToTop">🔝</button>
        <button class="dev-button">3</button>
    </div>
</div>

<div class="modal-container is-hidden" data-modal>
  <div class="modal-window">
    <button type="button" class="modal-close-button" data-modal-close>
      <svg class="modal-close-icon">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    </div>
</div>

<!-- Aleksander -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div id="modalContent">
      <!-- Tutaj będą wyświetlane dynamiczne dane -->
    </div>
  </div>
</div>

<div class="sign-in-container">
  <form id="sign-in-form" class="id">
    <label for="email">Email</label>
    <input type="email" id="email" name="email"required>
    <label for="password">password</label>
    <input type="password" id="password" name="password"required>
    <input type="submit" value="Sign-In">
  </form>
    <div id="signed-in-content">
      <h1>WELCOME</h1>
    </div>
</div>