<!-- Okno modalne -->
<div id="modalGoit" class="modal-team-goit">
  <!-- Zawartość okna modalnego -->
  <div class="modal-content-goit">
    <span class="close-modal-btn-goit">&times;</span>
    <h1 class="modal-team-header-goit">Nasz zespół</h1>
    <ul class="modal-team-list-goit">
      <li>
        <img class="modal-team-img-goit" src="./img/avatar.png" alt="photo" />
        <h2 class="modal-team-text-goit">Krzysztof Biernat</h2>
        <p class="modal-team-text-goit">Lider Zespołu</p>
        <p class="modal-team-text-goit">
          Lubi leniuchować, <br />interesuje się technologiami <br />informatycznymi
        </p>
      </li>
      <li>
        <img class="modal-team-img-goit" src="./img/avatar.png" alt="photo" />
        <h2 class="modal-team-text-goit">Marcin Molik</h2>
        <p class="modal-team-text-goit">Scrum Master</p>
        <p class="modal-team-text-goit">
          Lubi podróżować,<br />
          Hobby - Motocykle, Wędkarstwo
        </p>
      </li>
      <li>
        <img class="modal-team-img-goit" src="./img/avatar.png" alt="photo" />
        <h2 class="modal-team-text-goit">Gosia Krużel</h2>
        <p class="modal-team-text-goit">Deweloper</p>
        <p class="modal-team-text-goit">
          Kocha ilustrować, haftować,<br />
          tańczyć, oglądać filmy i pić KAWĘ.
        </p>
      </li>
      <li>
        <img class="modal-team-img-goit" src="./img/avatar.png" alt="photo" />
        <h2 class="modal-team-text-goit">Marek Lempart</h2>
        <p class="modal-team-text-goit">Deweloper</p>
        <p class="modal-team-text-goit">
          Miłośnik górskich wycieczek,<br />najlepiej w towarzystie ulubionego <br />czworonoga
          Regisa
        </p>
      </li>
      <li>
        <img class="modal-team-img-goit" src="./img/avatar.png" alt="photo" />
        <h2 class="modal-team-text-goit">Adrian Fryczkie</h2>
        <p class="modal-team-text-goit">Deweloper</p>
        <p class="modal-team-text-goit">Miłośnik sportów<br />Zagorzały fan szachów</p>
      </li>
      <li>
        <img class="modal-team-img-goit" src="./img/avatar.png" alt="photo" />
        <h2 class="modal-team-text-goit">Anita Przedwojewska</h2>
        <p class="modal-team-text-goit">Deweloper</p>
        <p class="modal-team-text-goit">
          Lubi aktywnie spędzać czas, <br />najlepiej na łonie natury, <br />doceniając piękno
          otaczającego nasz świata
        </p>
      </li>
      <li>
        <img class="modal-team-img-goit" src="./img/avatar.png" alt="photo" />
        <h2 class="modal-team-text-goit">Agnieszka Choma</h2>
        <p class="modal-team-text-goit">Deweloper</p>
        <p class="modal-team-text-goit">Hobby: czytanie książek<br>(kryminały i rozwój osobisty), podróże</p>
      </li>
      <li>
        <img class="modal-team-img-goit" src="./img/avatar.png" alt="photo" />
        <h2 class="modal-team-text-goit">Agnieszka Wolewicz</h2>
        <p class="modal-team-text-goit">Deweloper</p>
        <p class="modal-team-text-goit">Uzależniona od literatury fantasy i handmade</p>
      </li>
      <li>
        <img class="modal-team-img-goit" src="./img/avatar.png" alt="photo" />
        <h2 class="modal-team-text-goit">Aleksander Modzelewski</h2>
        <p class="modal-team-text-goit">Deweloper</p>
        <p class="modal-team-text-goit">Lubi chodzić na siłownie<br />Interesuje się motoryzacją</p>
      </li>
    </ul>
  </div>
</div>
