<!-- Okno modalne -->
<div id="modalGoit" class="modal-goit">
  <!-- Zawartość okna modalnego -->
  <div class="modal-content">
    <span class="close-modal-btn">&times;</span>
    <h1 class="modal-team-header">Nasz zespół</h1>
    <ul class="modal-team-list">
      <li>
        <img class="modal-team-img" src="./img/avatar.png" alt="photo" />
        <h2 class="modal-team-text">Krzysztof Biernat</h2>
        <p class="modal-team-text">Lider Zespołu</p>
        <p class="modal-team-text">
          Lubi leniuchować, <br />interesuje się technologiami <br />informatycznymi
        </p>
      </li>
      <li>
        <img class="modal-team-img" src="./img/avatar.png" alt="photo" />
        <h2 class="modal-team-text">Marcin Molik</h2>
        <p class="modal-team-text">Scrum Master</p>
        <p class="modal-team-text">
          Lubi podróżować,<br />
          Hobby - Motocykle, Wędkarstwo
        </p>
      </li>
      <li>
        <img class="modal-team-img" src="./img/avatar.png" alt="photo" />
        <h2 class="modal-team-text">Gosia Krużel</h2>
        <p class="modal-team-text">Deweloper</p>
        <p class="modal-team-text">
          Kocha ilustrować, haftować,<br />
          tańczyć, oglądać filmy i pić KAWĘ.
        </p>
      </li>
      <li>
        <img class="modal-team-img" src="./img/avatar.png" alt="photo" />
        <h2 class="modal-team-text">Marek Lempart</h2>
        <p class="modal-team-text">Deweloper</p>
        <p class="modal-team-text">
          Miłośnik górskich wycieczek,<br />najlepiej w towarzystie ulubionego <br />czworonoga
          Regisa
        </p>
      </li>
      <li>
        <img class="modal-team-img" src="./img/avatar.png" alt="photo" />
        <h2 class="modal-team-text">Adrian Fryczkie</h2>
        <p class="modal-team-text">Deweloper</p>
        <p class="modal-team-text">Miłośnik sportów<br />Zagorzały fan szachów</p>
      </li>
      <li>
        <img class="modal-team-img" src="./img/avatar.png" alt="photo" />
        <h2 class="modal-team-text">Anita Przedwojewska</h2>
        <p class="modal-team-text">Deweloper</p>
        <p class="modal-team-text">
          Lubi aktywnie spędzać czas, <br />najlepiej na łonie natury, <br />doceniając piękno
          otaczającego nasz świata
        </p>
      </li>
      <li>
        <img class="modal-team-img" src="./img/avatar.png" alt="photo" />
        <h2 class="modal-team-text">Agnieszka Choma</h2>
        <p class="modal-team-text">Deweloper</p>
        <p class="modal-team-text">Hobby</p>
      </li>
      <li>
        <img class="modal-team-img" src="./img/avatar.png" alt="photo" />
        <h2 class="modal-team-text">Agnieszka Wolewicz</h2>
        <p class="modal-team-text">Deweloper</p>
        <p class="modal-team-text">Hobby</p>
      </li>
      <li>
        <img class="modal-team-img" src="./img/avatar.png" alt="photo" />
        <h2 class="modal-team-text">Aleksander Modzelewski</h2>
        <p class="modal-team-text">Deweloper</p>
        <p class="modal-team-text">Lubi chodzić na siłownie<br />Interesuje się motoryzacją</p>
      </li>
    </ul>
  </div>
</div>
