<div id="pagination-container" class="container pagination">
  <a href="#" class="arrow-left">
    <svg id="icon-arrow-left2" class="pagination-arrow" viewBox="0 0 32 32">
      <use href="./img/symbol-defs.svg#icon-arrow-left2"></use>
    </svg>
  </a>
  <!-- kontener, w któym generowana jest paginacja -->
  <div class="pagination-pages"></div>
  <a href="#" class="arrow-right">
    <svg id="icon-arrow-right2" class="pagination-arrow" viewBox="0 0 32 32">
      <use href="./img/symbol-defs.svg#icon-arrow-right2"></use>
    </svg>
  </a>
</div>
