.footer {
background-color: #F7F7F7;
}
.footer-container{
margin: 0 auto;
}

@media screen and (min-width: 320px) {
.footer-container {
        width: 320px;
}}

.footer-wrapper{
text-align: center;
padding-top: 30px;
padding-bottom: 30px;
color: #545454;
font-family: 'Roboto';
font-size: 14px;
}

@media screen and (min-width: 768px) {
.footer-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
}

.copyRights{
margin-bottom: 10px;
}

.footer-icon{

}


.footer-btn{
    text-decoration: underline;
    color:#545454 ;
    cursor: pointer;
    border: none;

}