header {
  border: 0.01px solid transparent;
  background-color: black;
  height: 216px;
  display: block;
  margin: 0;
}

#headerBG {
  background-size: 100%;
  background-position: center;
}

.header-navibox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 20px;
}

.header-logo {
  display: flex;
  gap: 10px;
  padding: 0;
  align-items: center;
  text-decoration: none;
}

header h2 {
  opacity: 0;
  margin: 0;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 500;
  font-size: 30px;
}

.header-navi a.active {
  text-decoration: underline 2.5px #ff001b;
}

.header-navi {
  display: flex;
  gap: 39px;
  padding: 0;
  align-items: center;
}

header svg {
  width: 24px;
  height: 24px;
  margin: 0;
}

.header-navi a {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  font-family: Roboto;
  text-transform: uppercase;
  text-decoration: none;
}

.header-search {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.search-form {
  width: 280px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px solid #ffffff;
  justify-content: center;
}

input {
  background-color: transparent;
  size: 100%;
  width: 380px;
  margin: 0;
  border: none;
  color: #ffffff;
}

input:focus-within {
  background-color: transparent;
  size: 100%;
  width: 380px;
  margin: 0;
  color: #ffffff;
  flex-grow: 1;
  outline: transparent;
}

form svg {
  width: 12px;
  height: 12px;
}

form button {
  margin: 0;
  border: none;
  background-color: transparent;
  padding: 0;
}

input::placeholder {
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  font-family: Roboto;
}

.header-not-result {
  font-size: 14px;
  line-height: 16px;
  color: #ff001b;
  padding: 0;
  margin: 0;
  width: 280px;
}

.header-library {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.library-button {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background: transparent;
  width: 130px;
  height: 44px;
  border: 1px solid #ffffff;
  border-radius: 5;
}

.library-button:focus,
.library-button:hover {
  box-shadow: 0 8px 43px 0 rgba(255, 107, 1, 0.6);
  background: #ff6b01;
  border: none;
}

@media screen and (min-width: 768px) {
  .header-navibox {
    margin: 40px 32px;
  }
  header h2 {
    opacity: 1;
  }
  .header-navi {
    gap: 40px;
  }
  .search-form {
    width: 336px;
  }
  .header-not-result {
    width: 393px;
  }
  .header-library {
    gap: 32px;
  }
  .header-search {
    gap: 20px;
  }
  .library-button {
    width: 152px;
  }
}

@media screen and (min-width: 1280px) {
  .search-form {
    width: 394px;
  }
  .header-library {
    gap: 18px;
  }
  .library-button {
    width: 147px;
    height: 42px;
  }
}
