/* kontener na okno modalne z informacjami o filmie */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* zawartość okna modalnego */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  border-radius: 15px;
  padding: 8px 20px 40px 20px;
  border: 1px solid #888;
  width: 320px;
  font-family: 'Roboto', sans-serif;
}

/* przycisk zamykania okna */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 50px;
  font-weight: 100;
  margin: 0;
}

/* wskazany przycisk zamykania okna */
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  scale: 1.2;
}

/* zawartość okna modalnego z informacjami o filmie */
.modal-container {
  display: block;
}

/* plakat filmu w kontenerze */
.movie-poster-modal img {
  width: 100%;
  height: 357px;
  margin-top: 48px;
  padding: 0;
  margin: 0;
}

/* kontener na informacje o filmie */
.modal-movie-info {
  margin-top: 20px;
  max-width: 260px;
}

/* tytuł filmu */
.modal-movie-title {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--movieDetails-color);
  margin-bottom: 20px;
  overflow: hidden;
}

/* kontener na szczegółowe informacj eo filmie */
.info-item {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  justify-content: left;
  gap: 0px;
}

/* hasła szczegółowych informacji */
.pernament-item {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3;
  min-width: 80px;
  color: var(--vote-color);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* wartości szczegółowych informacji */
.variables-item {
  color: var(--movieDetails-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-right: 30px;
}

/* średnia nota */
.average-vote {
  background-color: var(--details-contrast);
  border-radius: 5px;
  color: var(--bg-color);
  padding: 1px 8px;
  margin-right: 4px;
}

/* liczba głosów */
.count-vote {
  background-color: var(--footer-bg);
  border-radius: 5px;
  color: var(--movieDetails-color);
  padding: 1px 8px;
  /*margin-left: 8px;*/
}

.slash-color {
  color: var(--vote-color);
}

/* oryginalny tytuł */
.original-title {
  text-transform: uppercase;
}

/* opis filmu */
.about-movie {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.7;
  color: var(--movieDetails-color);
  width: 240px;
  margin-top: 20px;
}

/* hasło przed opisem filmu */
.about-movie-details {
  text-transform: uppercase;
}

/* kontener na przyciski dodawania filmu do listy obejrzanych lub do obejrzenia */
.modal-buttons {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

/* kontener na przycisk do włączenia trailera filmu */
.movie-trailer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* przyciski dodawania filmu do listy obejrzanych lub do obejrzenia */
.watched-button,
.queued-button {
  border-radius: 5px;
  width: 110px;
  height: 44px;
  background-color: var(--details-contrast);
  cursor: pointer;
  border: none;
  color: var(--bg-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  transition: transform 0.3s ease;
  padding: 6px 27px;
}

/* przycisk do włączenia trailera filmu */
.trailer-button {
  border-radius: 5px;
  width: 110px;
  height: 44px;
  color: var(--bg-color);
  cursor: pointer;
  border: none;
  color: var(--bg-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
}

/* wskazane przyciski */
.watched-button:hover,
.watched-button:focus,
.queued-button:hover,
.queued-button:focus,
.movie-trailer button:hover,
.movie-trailer button:focus {
  transform: scale(1.1);
}

/* style dla tabletu i komputera */
@media screen and (min-width: 768px) {
  .modal-content {
    width: 704px;
    min-height: 552px;
  }
  .modal-container {
    display: flex;
  }
  .movie-poster-modal {
    margin-right: 68px;
    margin-top: 40px;
  }
  .movie-poster-modal img {
    width: 264px;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .modal-movie-info {
    margin-top: 41px;
  }
  .info-item {
    margin-top: 20px;
  }
}

@media (min-width: 1280px) {
  .modal-content {
    width: 806px;
    min-height: 558px;
    padding: 0 20px;
  }
  .modal-container {
    margin-bottom: 30px;
  }
  .modal-movie-title {
    font-size: 30px;
  }
  .movie-poster-modal {
    margin-right: 16px;
  }
  .movie-poster-modal img {
    width: 375px;
    height: 100%;
  }
  .modal-movie-info {
    margin-top: 41px;
  }
  .about-movie {
    width: 391px;
  }
  .variables-item {
    padding-right: 0;
  }
  .modal-movie-title {
    font-size: 30px;
  }
}
