@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  border-radius: 15px;
  padding: 8px 20px 40px 20px;
  border: 1px solid #888;
  max-width: 320px;
  font-family: 'Roboto', sans-serif;
}

.modal-movie-info {
  margin-top: 20px;
  margin-left: auto;
  max-width: 260px;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 50px;
  font-weight: 100;
  margin: 0;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  scale: 1.2;
}

.dev-tools-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
}

.dev-main-button {
  padding: 0;
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 40px;
}

.dev-moving-button:hover {
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 20px;
}

.dev-button-bar {
  display: none;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.dev-button {
  padding: 10px;
  margin-right: 5px;
  background-color: #f2f7fb;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dev-button:hover {
  background-color: #2980b9;
}

.modal-movie-title {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--movieDetails-color);
  margin-bottom: 20px;
  overflow: hidden;
}
.info-item {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  justify-content: left;
  gap: 0px;
}

.average-vote {
  background-color: var(--details-contrast);
  border-radius: 5px;
  color: var(--bg-color);
  padding: 1px 8px;
  margin-right: 4px;
}

.count-vote {
  background-color: var(--footer-bg);
  border-radius: 5px;
  color: var(--movieDetails-color);
  padding: 1px 8px;
  /*margin-left: 8px;*/
}

.slash-color {
  color: var(--vote-color);
}
.pernament-item {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3;
  min-width: 80px;
  color: var(--vote-color);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.variables-item {
  color: var(--movieDetails-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-right: 30px;
}
.original-title {
  text-transform: uppercase;
}
.about-movie {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.7;
  color: var(--movieDetails-color);
  width: 240px;
  margin-top: 20px;
}

.modal-buttons {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.modal-buttons button {
  gap: 20px;
}

.movie-trailer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-trailer button {
  border-radius: 5px;
  width: 110px;
  height: 44px;
  color: var(--bg-color);
  cursor: pointer;
  border: none;
  color: var(--bg-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
}
.watchedButton,
.queuedButton {
  border-radius: 5px;
  width: 110px;
  height: 44px;
  background-color: var(--details-contrast);
  cursor: pointer;
  border: none;
  color: var(--bg-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  transition: transform 0.3s ease;
  padding: 6px 27px;
}

.watchedButton:hover,
.watchedButton:focus,
.queuedButton:hover,
.queuedButton:focus,
.movie-trailer button:hover,
.movie-trailer button:focus {
  transform: scale(1.1);
}

.about-movie-details {
  text-transform: uppercase;
}

.movie-poster-modal img {
  width: 100%;
  height: 357px;
  margin-top: 48px;
  padding: 0;
  margin: 0;
}

.modal-container {
  display: block;
}

@media screen and (min-width: 768px) {
  .modal-content {
    max-width: 704px;
    min-height: 552px;
  }
  .modal-container {
    display: flex;
  }

  .movie-poster-modal {
    margin-right: 68px;
    margin-top: 40px;
  }
  .movie-poster-modal img {
    width: 264px;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .modal-movie-info {
    margin-top: 41px;
    margin-left: -41px;
  }
  .info-item {
    margin-top: 20px;
  }
}

@media (min-width: 1280px) {
  .modal-content {
    min-height: 558px;
    padding: 0 20px;
  }
  .modal-container {
    margin-bottom: 30px;
  }
  .movieData.title {
    font-size: 30px;
  }
  .movie-poster-modal {
    margin-right: 16px;
  }
  .movie-poster-modal img {
    width: 375px;
    height: 100%;
  }
  .modal-movie-info {
    margin-top: 41px;
    margin-left: auto;
  }
  .about-movie {
    max-width: 391px;
  }
  .variables-item {
    padding-right: 0;
  }
  .modal-movie-title {
    font-size: 30px;
  }
}
