@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 8px 20px 40px 20px;
  border: 1px solid #888;
  width: 320px;
  font-family: 'Roboto', sans-serif;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 54px;
  font-weight: 100;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  scale: 1.2;
}

.dev-tools-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
}

.dev-main-button {
  padding: 0;
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 40px;
}

.dev-moving-button:hover {
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 20px;
}

.dev-button-bar {
  display: none;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.dev-button {
  padding: 10px;
  margin-right: 5px;
  background-color: #f2f7fb;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dev-button:hover {
  background-color: #2980b9;
}

.movieData.title {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--movieDetails-color);
  margin-bottom: 20px;
}
.info-item {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3;
  color: var(--movieDetails-color);
  padding-bottom: 8px;
  margin-bottom: 12px;
}

.about-movie {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.7;
  color: var(--movieDetails-color);
  width: 240px;
}

.modal-buttons {
  margin-top: 20px;
}

.watchedButton {
  border-radius: 5px;
  width: 110px;
  height: 44px;
  background-color: var(--details-contrast);
  cursor: pointer;
  border: none;
  color: var(--bg-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  margin-right: 20px;
  transition: transform 0.3s ease;
}

.queuedButton {
  border: 1px solid #000;
  border-radius: 5px;
  width: 110px;
  height: 44px;
  background-color: var(--bg-color);
  cursor: pointer;

  color: var(--movieDetails-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  transition: transform 0.3s ease;
}

.watchedButton:hover,
.watchedButton:focus {
  transform: scale(1.5);
}

@media screen and (min-width: 768px) {
  .modal-content {
    width: 704px;
  }
}

@media (min-width: 1280px) {
  .modal-content {
    width: 806px;
    height: 558px;
  }
}

.sign-in-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#form-content-inner-container {
  width: 100%;
  /* Dodajemy pełną szerokość dla kontenera formularza */
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  /* Centrowanie tekstu */
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* Dopuszczenie paddingu do szerokości pola */
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

#button-container {
  display: flex;
  justify-content: space-between;
  /* Równe odstępy między przyciskami */
}

button {
  width: calc(33.33% - 5px);
  /* Ustawiamy szerokość przycisków */
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

#logout-button {
  background-color: #dc3545;
}

#logout-button:hover {
  background-color: #bd2130;
  display: none;
}

#login-status {
  text-align: center;
  margin-bottom: 10px;
}

  #login-status {
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
  }