@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

#gallery-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movie-card {
  justify-content: center;
  width: 280px;
  height: 440px;
  margin-bottom: 20px;
}

.movie-details {
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1, 3;
  color: #000;
}
.movie-title {
  text-transform: uppercase;
}
.movie-info {
  font-family: 'Roboto', sans-serif;
  color: #ff6b08;
}
.movie-poster {
  width: 280px;
  height: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
@media (min-width: 768px) {
  #gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    padding-bottom: 32px;
    margin-left: 32px;
  }

  .movie-card {
    justify-content: center;
    width: 336px;
    height: 494px;
    margin-bottom: 32px;
  }

  .movie-details {
    margin-top: 8px;
  }

  .movie-poster {
    width: 336px;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
}
@media (min-width: 1280px) {
  #gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
  .movie-card {
    width: 395px;
    height: 634px;
  }
  .movie-poster {
    width: 395px;
  }
  .movie-details {
    margin-top: 12px;
  }
}
