.pagination {
  display: flex;
  padding-bottom: 40px;
  margin: auto 0;
  border: none;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0, 5;
  color: var(--movieDetails-color);
}

.arrow-left,
.arrow-right {
  color: var(--movieDetails-color);
  float: left;
  padding: 12px 12px;
  text-decoration: none;
  transition: background-color 0.3s;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background-color: #f7f7f7;
  margin: 0 10px;
}

.pagin-btn:focus,
.pagin-btn:hover {
  background-color: var(--pagination-bg);
}

.pagination-arrow {
  color: var(--movieDetails-color);
  height: 16px;
  width: 16px;
}

.pagin-btn {
  color: var(--movieDetails-color);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  margin: auto 0;
  border: none;
  justify-content: center;
  align-items: center;
  flex-shrink: 0, 5;
  background-color: #fff;
  transition: background-color 0.3s;
}

.current-page {
  background-color: #ff6c28;
  color: var(--movieDetails-color);
}

.hidden {
  display: none;
}

.dots {
  color: var(--movieDetails-color);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  margin: auto 0;
  border: none;
  justify-content: center;
  align-items: center;
  flex-shrink: 0, 5;
  background-color: #fff;
  transition: background-color 0.3s;
}

@media screen and (min-width: 768px) {
  .pagination {
    padding-bottom: 60px;
  }
}
