/* sekcja paginacji */
.pagination {
  display: flex;
  padding-bottom: 40px;
  margin: auto 0;
  border: none;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0, 5;
  color: var(--movieDetails-color);
}

/* odnośniki do popradniej i kolejnej strony */
a.arrow-left,
a.arrow-right {
  color: var(--movieDetails-color);
  float: left;
  padding: 12px 12px;
  text-decoration: none;
  transition: background-color 0.3s;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background-color: #f7f7f7;
  margin: 0 10px;
}

/* ikony strzałek do poprzedniej i kolejnej strony */
.pagination-arrow {
  color: var(--movieDetails-color);
  height: 16px;
  width: 16px;
}

/* przycisk z numerem strony */
.pagin-btn {
  color: var(--movieDetails-color);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  margin: auto 0;
  border: none;
  justify-content: center;
  align-items: center;
  flex-shrink: 0, 5;
  background-color: #fff;
  transition: background-color 0.3s;
}

/* wskazany przycisk z numerem strony */
.pagin-btn:focus,
.pagin-btn:hover {
  background-color: var(--pagination-bg);
}

/* przycisk z numerem aktualnej strony */
.current-page {
  background-color: #ff6c28;
  color: var(--movieDetails-color);
}

/* przycisk z niedostępnymi w bieżącej paginacji numerami stron */
.dots {
  color: var(--movieDetails-color);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  margin: auto 0;
  border: none;
  justify-content: center;
  align-items: center;
  flex-shrink: 0, 5;
  background-color: #fff;
  transition: background-color 0.3s;
}

/* style dla tabletu i komputera */
@media screen and (min-width: 768px) {
  .pagination {
    padding-bottom: 60px;
  }
}
